html,
body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.overflow-auto {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-container {
    background-color: #101e29;
}

.col-xs-12 {
    max-width: 100%;
}


@include media-breakpoint-between('xs', 'sm-small') {
    .xs-mb-3 {
        margin-bottom: 1rem !important;
    }

    .justify-content-sm-small-end {
        justify-content: flex-end !important;
    }

    .navbar-absolute {
        z-index: 99;
        width: 100%;
        @include position(absolute, 12px, 5px, auto, auto);
    }

    .xs-pr-0 {
        padding-right: 0 !important;
    }

    .custom-flex-column-reverse {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        flex-direction: column-reverse !important;
    }
}