* {
    outline: none;
}

a {
    text-decoration: none !important;
    color: inherit;

    &:hover {
        text-decoration: none !important;
        color: inherit;
    }

    &:focus {
        text-decoration: none;
        color: inherit;
    }

    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

/* clears the 'X' from Chrome */
input[type="search"],
input[type="text"] {
    &::-webkit-search-decoration {
        display: none;
    }

    &::-webkit-search-cancel-button {
        display: none;
    }

    &::-webkit-search-results-button {
        display: none;
    }

    &::-webkit-search-results-decoration {
        display: none;
    }

    &::-ms-clear {
        /* clears the 'X' from Internet Explorer */
        display: none;
        width: 0;
        height: 0;
    }

    &::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }
}

ul {
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 0;
}