* {
    outline: none;
}

a {
    text-decoration: none !important;
    color: inherit;

    &:hover {
        text-decoration: none !important;
        color: inherit;
    }

    &:focus {
        text-decoration: none;
        color: inherit;
    }

    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

::-webkit-input-placeholder {
    /* Edge */
    color: red;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::placeholder {
    color: red;
}