.form-control {
    border: 2px solid $white;
    height: 45px;
    background-color: rgba(255, 255, 255, 0);
    color: $white;
    &:focus {
        background-color: rgba(255, 255, 255, 0);
    }
}
.form-textarea {
    border: 2px solid $white;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    resize: none;
    &:focus {
        background-color: rgba(255, 255, 255, 0);
    }
}