<section class="d-flex h-100 w-100">
    <!-- sidebar design start here -->
    <section class="h-100">
        <input class="toggle-sidebar" id="toggle-sidebar" type="checkbox" role="button" />
        <section class="side-bar shadow-sm d-flex flex-grow-1 flex-column">
            <div class="main-logo-section p-1 d-flex align-items-center flex-shrink-0">
                <div class="mx-auto">
                    <div class="logo-text text-primary">PATEL'S <span class="text-secondary font-semibold">शिक्षण</span></div>
                </div>
            </div>
            <div class="mt-3 overflow-auto">
                <ul class="sidebar-list">
                    <li class="sidebar-item active-menu mx-2 rounded d-flex flex-shrink-0" title="">
                        <label class="d-flex align-items-center cursor-pointer mb-0">
                            <span class="fa fa-dashboard"></span>
                            <span class="sidebar-item-label">Dashboard</span>
                        </label>
                    </li>
                </ul>
            </div>
            <!-- <div class="p-3 mt-auto text-center d-flex flex-shrink-0">
                <a class="mx-auto">
                    <div>
                        <img src="/assets/images/dashboard/trigger_small.png" alt="Trigger" class="small-logo-b">
                    </div>
                    <div>
                        <img src="/assets/images/trigger-sign-in-logo.png" alt="Trigger" class="large-logo-b">
                    </div>
                </a>
            </div> -->
        </section>
    </section>
    <!-- sidebar design end here -->
    <section class="d-flex flex-column w-100">
        <!-- header tobar start here -->
        <nav class="nav-wrapper d-flex justify-content-between shadow-sm">
            <!-- toogle menu button section start here -->
            <div class="d-flex align-items-center btn bg-transparent">
                <label for="toggle-sidebar" class="fa fa-bars text-secondary mb-0 cursor-pointer"></label>
            </div>
            <!-- toogle menu button section end here -->
            <section class="d-flex align-items-center">
                <!-- dropdown section end here -->
                
                <section class="position-relative">
                    <div class="user-profile-img mr-3 d-flex align-items-center shadow-sm justify-content-center rounded-circle">
                        <div class="font-lg font-bold text-primary">
                            profile name
                        </div>
                    </div>
                </section>
                <div class="dropdown">
                    <button class="p-0 btn btn-transparent dropdown-toggle text-white border-0 font-semibold" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="xs-d-none">profile name</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right shadow-sm border-0" role="menu" aria-labelledby="dropdownMenu">
                        <li>
                            <a class="dropdown-item cursor-pointer" title="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>
        <!-- header tobar end here -->
        <!--main container section start here -->
        <main class="w-100 h-100 flex-grow-1 overflow-hidden">
          <div class="d-flex flex-column h-100">
            <div class="h-100">
                main container
              <!-- <router-outlet></router-outlet> -->
            </div>
          </div>
        </main>
        <!--main container section end here -->
      </section>
</section>