.pane-container {
    border-bottom: 2px solid $border;
    border-right: 2px solid $border;
    border-left: 2px solid $border;
    height: calc(100% - 162px);
}

.min-v-content-container {
    .nav-tabs {
        border-bottom: 2px solid $border;
        .nav-item {
            margin-bottom: -2px;
        }
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: $primary;
        color: $white;
        border: 2px solid $border;
    }
    ul li {
        color: $primary;
        a {
            font-size: 16px;
        }
    }
    .border-bottom {
        border-bottom: 2px solid $primary !important;
    }
    .video-container {
        height: 250px;
        border: 2px solid $secondary;
        cursor: pointer;
    }
}
.videos-container {
    height: calc(100% - 75px);
}